<link rel="stylesheet" href="/static/style.css" type="text/css">

<html>
  <head>
    <title>Welcome to Survey Application</title>
  </head>
  <body>
    {% if message %}
        <p style="text-align: center;">{{ message }}</p>
    {% endif %}
    <div>
      <a href="/">Home</a> |
      <a href="/logout">Logout</a> |
      {% if username=='admin' %}
      <a href="/questions/new">Create a new Question</a>
      {% endif %}
    </div>
    <hr>
    {% block content %}{% endblock %}
  </body>
</html>


